.playerName {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}

input {
  width: 90%;
  border: 0;
  outline: none;
  font-weight: bold;
  background: transparent;
  text-align: center;
  font-size: 1.55rem;
  -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    border: 6px dashed #000;
    width: 100%;
}
