/* ScoreBar section */
.scoreBar {
  display: flex;
  justify-content: space-around;
  height: 20vh;
  width: 100vw;
}

.playerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
