/* Universal Styles */

html {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}

h1 {
  font-size: 1rem;
  text-align: center;
  width: 163px;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px black;
  color: #fff;
  padding: 1rem;
}

/* LAYOUT */
#app {
  background: #fff url('images/workspace.jpeg') center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 2px solid red;
  margin: 0;
  overflow: scroll;
}


/* Top Title */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  line-height: 150%;
  background-color: rgba(25, 25, 25, .4);

  border: 2px solid green;
}

h1 span {
  font-size: .8rem;
  font-style: italic;
}


/* Text Area section */
.textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid pink;
}

.textArea h3 {
  display: flex;
  justify-content: center;
  padding: .5rem 0;
}

.textBox {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 30vw;
  border: 1px solid black;
}

/* Analyze lower-left section */
.analyzerArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid orange;
}

.analyzeBtnArea {
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}


.analyzerArea button {
  font-size: 100%;
  padding: auto;
  margin: .5rem .5rem;
  height: auto;
  border: 1px solid black;
  background-color: #fff;
  outline: none;
}

.analyzeBox {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 20vh;
  border: 1px solid black;
}

/* Oxford Dictionary Thesaurus section */
.oxfordArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
}

.dictTitleAndBtn {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

.oxfordArea h5 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: .5rem 0;
}


.oxfordArea button {
  font-size: 100%;
  padding: .3rem 2.1rem;
  margin: .5rem .5rem;
  border: 1px solid black;
  background-color: #fff;
  outline: none;
}


.wordDictBox {
  display: flex;
  justify-content: center;
  margin: .5rem 0;
  width: 50vw;
  height: 1rem;
  border: 1px solid black;
}

.definitionBox {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 20vh;
  border: 1px solid black;
}

/* comments */



/*=========================
      Media Queries
===========================*/
/*@media only screen and (min-width: 560px) {
  html {
    font-size: 15px;
  }
}*/
