.btnImageBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 100%;
  margin: 0 0 0 4.5rem;
  border: 2px solid red;
  background-color: white;
}

.btnImageBorder:hover,
.btnImageBorder:active {
  border: 2px solid orange;
}

.btnImage {
  width: 4vw;

}
